.nav__cartWidget{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav__cartWidget picture{
    width: 1rem;
}
.nav__cartWidget span{
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
}