.nav__cartWidget{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav__cartIcon{
    margin: auto;
}
.nav__cartWidget span{
    font-size: .8rem;
    font-weight: 800;
    text-align: center;
}