.itemDetail{
    width: 75%;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin-bottom: 10vh;
    margin-top: 7vh;
}
.itemDetail img{
    width: 60%;
    border-top-left-radius: 30px;
}
.itemDetail__div{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}
.toCart{
    text-decoration: none;
    font-weight: bold;
    width: 40%;
    text-align: center;
    padding: 10px;
    color: black;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin-bottom: 10vh;
    margin-top: 7vh;
    border-radius: 10px;
    transition: 0.5s ease;
}
.toCart:hover{
    background: #e0b5ff;
    transition: 0.5s ease;
}
.itemDetail__div span:first-of-type{
    color: rgba(55, 55, 55, 0.392);
    font-size: small;
    font-style: italic;
}
.itemDetail__div h3{
    font-size: 3vw;
    font-style: italic;
    margin: 1vw 0;
}
.itemDetail__div p:first-of-type{
    font-weight: 900;
    font-size: large;
}
.itemDetail__div p:last-of-type{
    padding: 1vw 0 0 0;
}
.itemDetail__div span:last-of-type{
    padding: 1vw 0;
}
.itemDetail__div div{
    margin-top: auto;
    margin-left: auto;
}