.itemDetail{
    width: 95%;
    height: 550px;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin-bottom: 10vh;
    margin: 4vh auto;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    user-select: none;
}
@keyframes slideUp {
    0%, 5% {
        transform: translateY(100%);
        opacity: 0;
    }
    90%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.spinner{
    height: 100px;
    width: 100px;
    background-image: url(https://res.cloudinary.com/dr2vstkz6/image/upload/v1663266485/qatar-png_blvhcp.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
}
.itemDetail img{
    width: 60%;
    border-top-left-radius: 30px;
}
.itemDetail__div{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}
.toCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    width: 40%;
    text-align: center;
    padding: 10px;
    color: black;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin-bottom: 10vh;
    margin-top: 7vh;
    border-radius: 10px;
    transition: 0.5s ease;
}
.toCart p{
    padding: 0 !important;
}
.toCart:hover{
    background: #000000;
    color: white;
    transition: 0.5s ease;
}
.itemDetail__div span:first-of-type{
    color: rgba(55, 55, 55, 0.392);
    font-size: small;
    font-style: italic;
}
.itemDetail__div h3{
    font-size: 3vw;
    font-style: italic;
    margin: 1vw 0;
}
.itemDetail__div p:first-of-type{
    font-weight: 900;
    font-size: large;
}
.itemDetail__div p:last-of-type{
    padding: 1vw 0 0 0;
}
.itemDetail__div span:last-of-type{
    padding: 1vw 0;
    margin: 0 !important;
}
.itemDetail__div div{
    margin-top: auto;
    margin-left: auto;
}
.itemDetail__div-icon{
    margin-top: 4px;
    margin-left: 5px;
    font-size: large;
}