.header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(221, 221, 221), rgb(81, 81, 81), rgb(221, 221, 221));
    border-image-slice: 1;
}