.main__item{
    display: flex;
    flex-direction: column;
    width: 13rem;
    margin: 0;
    animation: slideUp 1s ease;
    user-select: none;
    transition: .3s ease;
    padding: 1rem .5rem;
    border-radius: .5rem;
    color: rgb(130, 130, 130);
}
@keyframes slideUp {
    0%, 5% {
        transform: translateY(100%);
        opacity: 0;
    }
    90%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (hover: hover) and (pointer: fine) {
    .main__item:hover{
        cursor: pointer;
        color: rgb(44, 44, 44);
        transition: .3s ease;
        box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.291);
    }
}

.main__div--div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem .5rem 0;
}
.main__span--div:nth-child(1){
    font-weight: 800;
}
.main__span--div:nth-child(2){
    font-size: .7rem;
    letter-spacing: 2px;
    padding: .3rem;
}
.main__span--div:nth-child(3){
    font-size: .8rem;
    font-weight: 900;
}

@media screen and (max-width: 913px) {
    .main__item{
        width: 10rem;
        padding: 1rem 0;
        color: inherit;
    }
    .main__span--div:nth-child(1){
        font-size: .8rem;
        font-weight: 800;
    }
    .main__span--div:nth-child(2){
        display: none;
    }
    .main__span--div:nth-child(3){
        color: rgb(52, 52, 52);
    }
}