@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
:root{
    --black: rgb(23, 23, 23);
    --typography: 'Manrope', sans-serif;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body{
    background: #eceff1;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--typography);
    color       : var(--black);
    line-height: 1.4em;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color:inherit;
  font-size:inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color:inherit;
}
form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color:inherit;
    display: block;
    appearance: none;
}
svg{
    width: 100%;
    display: block;
}
p svg{
    display: inline;
    width: initial;
}
