.itemCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 5px;
    width: 12%;
    margin: auto;
}
.itemCount__addCart{
    border: none;
    font-size: medium;
    padding: 7px;
    cursor: pointer;
    border-top: 1px solid rgb(62, 62, 62);
    transition: 0.5s ease;
}
.itemCount__addCart:hover{
    color: rgb(146, 146, 146);
    transition: 0.5s ease;
}
.itemCount div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.itemCount span{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(62, 62, 62);
    width: 4vw;
    margin-top: 10px;
}
.itemCount span button:last-of-type{
    border-top: 1px solid rgb(62, 62, 62);
}
.itemCount span button{
    border: none;
    font-size: 6vh;
    cursor: pointer;
    transition: 0.5s ease;
}
.itemCount span button:hover{
    color: rgb(146, 146, 146);
    transition: 0.5s ease;
}
.itemCount p{
    text-align: center;
    font-size: 8vh;
    width: 6vw;
}