.sectionCart__id{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    margin-top: 5.5rem;
    line-height: 1.5;
    /* BG */
    background-image: url(
        'https://res.cloudinary.com/dr2vstkz6/image/upload/v1664241401/shopping-cart_nqoqyk.webp'
        );
    background-repeat: no-repeat;
    background-position-x: right;
    user-select: none;
}
.sectionCart__id h4{
    font-size: 3.1rem;
    margin-top: 3rem;
    font-weight: 800;
}
.sectionCart__id p{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(130, 130, 130);
}
.sectionCart__id span{
    color: rgb(89, 178, 0);
    font-weight: 700;
    font-size: 2rem;
}
.sectionCart--modified{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    margin-top: 50px;
    line-height: 1.3;
    /* BG */
    background-image: url(
        'https://res.cloudinary.com/dr2vstkz6/image/upload/v1663615216/empty_cart_lkw3ll.webp'
        );
    background-repeat: no-repeat;
    background-position-x: right;
    user-select: none;
}
.sectionCart--modified h4 p{
    margin-left: 30px;
}
.sectionCart--modified h4{
    font-size: 4.5rem;
    margin-top: 4rem;
    font-weight: 800;
}
.sectionCart--modified p{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(141, 141, 141);
    margin-left: 20px;
}
.sectionCart__bttn--modified{
    --width: 150px;
    --timing: 1.5s;
    border: 0;
    width: var(--width);
    padding-block: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin-left: 7rem;
    margin-top: 2rem;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 5px 1px rgb(209, 209, 209);
}
@media (hover: hover) and (pointer: fine) {
    .sectionCart__bttn--modified:hover{
        color: rgb(242, 242, 242);
        box-shadow: 2px 2px 5px 1px rgb(180, 180, 180);
        background-image: linear-gradient(to right,
         rgb(250, 82, 82),
          rgb(250, 82, 82) 16.65%,
           rgb(190, 75, 219) 16.65%,
            rgb(190, 75, 219) 33.3%,
             rgb(76, 110, 245) 33.3%,
              rgb(76, 110, 245) 49.95%,
               rgb(64, 192, 87) 49.95%,
                rgb(64, 192, 87) 66.6%,
                 rgb(250, 176, 5) 66.6%,
                  rgb(250, 176, 5) 83.25%,
                   rgb(253, 126, 20) 83.25%,
                    rgb(253, 126, 20) 100%,
                     rgb(250, 82, 82) 100%);
        animation: var(--timing) linear emptyCartButton infinite;
        transform: scale(1.1) translateY(-1px);
    }
    @keyframes emptyCartButton {
        to {
          background-position: var(--width);
        }
    }
   
    .sectionCart__button--div:hover {
        background: #ff1616;
    }
    .sectionCart__button--div:hover .sectionCart__text--button {
        color: transparent;
    }
    .sectionCart__button--div:hover .sectionCart__icon--button {
        width: 85px;
        border-left: none;
        transform: translateX(11px);
    }
    .sectionCart__button--div:active .sectionCart__icon--button svg {
        transform: scale(0.8);
    }
    .sectionCart__itemDeetsCtr button:hover{
        color: rgb(255, 28, 28);
        transition: all 0.4s ease;
    }
}

.sectionCart{
    width: 90%;
    max-height: 550px;
    min-width: 750px;
    display: flex;
    flex-direction: row;
    margin: 3.5rem 0;
    padding: 1.5rem;
    border-top-left-radius: 30px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.179);
    user-select: none;
}
/* first of type */
.sectionCart__div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* top */
.sectionCart__div--div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.286);
    width: 90%;
}
.sectionCart__span--div{
    margin-left: 0.5rem;
    font-weight: bold;
    align-self: center;
}
.sectionCart__button--div{
    padding: .3rem;
    width: 7rem;
    display: flex;
    align-items: center;
    background: rgb(255, 34, 34);
    border: none;
    border-radius: 5px;
    background: #e62222;
    margin-right: 10px;
}
.sectionCart__button--div span{
    transition: 200ms;
}
.sectionCart__text--button{
    transform: translateX(5px);
    color: white;
    font-weight: 700;
    font-size: .8rem;
}
.sectionCart__icon--button{
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(80px);
    height: 18px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionCart__button--div svg {
    width: .7rem;
    fill: #eee;
}
.sectionCart__button--div:focus {
    outline: none;
}
/* bot */
.sectionCart__div--modified{
    overflow-y: scroll;
    overflow-x: hidden;
}
.sectionCart__itemCtr{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.sectionCart__itemCtr picture{
    width: 10rem
}
.sectionCart__itemDeetsCtr{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.sectionCart__span--itemDeetsCtr{
    color: rgba(0, 0, 0, 0.499);
    font-style: normal;
    font-weight: bold;
    font-size: small;
    text-align: end;
}
.sectionCart__itemDeetsCtr h3{
    font-weight: 700;
}
.sectionCart__itemDeetsCtr button{
    align-self: flex-end;
    border: none;
    color: rgb(255, 119, 119);
    transition: all 0.4s ease;
}
.sectionCart__itemDeets{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.sectionCart__itemDeets span:first-of-type{
    font-weight: bold;
    margin-right: 5px;
}
.sectionCart__itemDeets span:nth-of-type(2){
    font-size: smaller;
    color: rgba(0, 0, 0, 0.596);
    margin-right: 5px;
}
.sectionCart__itemDeets span:last-of-type{
    color: rgba(0, 0, 0, 0.596);
}

/* Last of type */
.sectionCart__div:last-of-type{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.sectionCart__div:last-of-type h3{
    text-align: center;
    font-weight: 700;
}
.sectionCart__div:last-of-type span{
    align-self: flex-end;
    margin-top: auto;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .sectionCart{
        flex-direction: column;
        max-height: 1200px;
        width: 90vw;
        min-width: unset;
    }
    .sectionCart__itemCtr{
        padding: .5rem 0;
    }
    .sectionCart__div{
        width: 90%;
        margin: 0 auto;
    }
    .sectionCart__div:last-of-type{
        width: 90%;
        margin: 0 auto;
    }
    .sectionCart__div--modified{
        max-height: 500px;
        border-bottom: 1px solid rgb(189, 189, 189);
        margin-bottom: 1rem;
    }
    .sectionCart__div:last-of-type span{
        align-self: flex-end;
        margin-top: auto;
        font-weight: bold;
        padding: 1rem 0 0;
    }
}
@media screen and (max-width: 420px) {
    .sectionCart{
        margin-top: 5rem;
        padding: 1rem 0;
    }
}
@media screen and (max-width: 1000px) {
    .sectionCart--modified h4, p, .sectionCart__bttn--modified{
        backdrop-filter: blur(2px);
    }
    .sectionCart--modified h4{
        margin-top: 2rem;
    }
    .sectionCart--modified p{
        color: rgb(29, 29, 29);
    }
}

@media screen and (max-width: 727px) {
    .sectionCart__id h4, p, span{
        backdrop-filter: blur(3px);
    }
    .sectionCart__id h4{
        margin-top: 1rem;
        font-size: 2.5rem;
    }
    .sectionCart__id p{
        color: inherit;
    }
    .sectionCart--modified{
        max-height: 420px;
    }
    .sectionCart--modified h4{
        font-size: 2rem;
    }
    .sectionCart--modified p{
        font-size: 1rem;
    }
    .sectionCart__bttn--modified{
        margin-top: auto;
        margin-left: 0;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 529px) {
    .sectionCart__id{
        width: 100%;
        padding: 1rem;
        margin: 4rem  auto;
        background-size: 70%;
        background-position-y: 50px;
    }
    .sectionCart__id span{
        font-size: 6vw;
    }
    .sectionCart--modified{
        width: 100%;
        padding: 1rem;
        background-size: 80%;
        background-position-y: 20px;
    }
}